extends layout

block layout-content
  div.View(style="align-items: center")
    h1.Banner LOTTERY DAPP
    div.Message
    div.Message
      div.Title
        h3(style="font-weight: bold") Making the Best
        div.Message(style="text-align: center; font-weight: bold;") Welcome
        h1 #{mAccToStr}
      span.Details Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae minima non voluptates unde velit repellendus voluptatum.
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!

          