extends layout

block noMM
  div.View(style="align-items: center")
    h1.Banner LOTTERY DAPP
    div.Message
    div.Message
      div.Title
        h3(font-weight: "normal" text-align: "right") Making the Best 
        h1 No METAMASK DETECTED
      span.Details Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae minima non voluptates unde velit repellendus voluptatum.
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!